# Git
.git
.gitignore

# Environment (maxfiy!)
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Database fayli (container ichida yaratiladi)
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Test fayllar
tests/
.pytest_cache/
